<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary h-100" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <i class="bi bi-book me-2 logo-size" width="40" height="32"></i>
    <span class="fs-4">{{title}}</span>
  </a>
  <hr>
    <ul class="nav nav-pills flex-column mb-auto sidebar">
      @for (item of mainNavItems; track item) {
        <li>
          <a [routerLink]="item.route" class="nav-link link-body-emphasis" [ngClass]="{'active': item.isActive}"
            (click)="navItemClicked(item)" aria-current="page">
            <i class="bi bi-{{item.icon}} me-2 "></i>
            {{item.text}}
          </a>
        </li>
      }
    </ul>

    <ul class="nav nav-pills flex-column sidebar">
      @for (item of secondaryNavItems; track item) {
        <li>
          <a [routerLink]="item.route" class="nav-link link-body-emphasis" [ngClass]="{'active': item.isActive}"
            aria-current="page" (click)="navItemClicked(item)">
            <i class="bi bi-{{item.icon}} me-2 "></i>
            {{item.text}}
          </a>
        </li>
      }
    </ul>
    <hr>
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="./assets/images/avatars/default.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">New Book...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>