@if(title){
<div class="container-fluid mb-3">
    <h3 class="text-start mt-3">{{title}}</h3>
</div>
}

@switch (layout) {
@case ('grid') {
<div class="albums-grid">
    @for (album of albums; track $index) {
    @defer (on viewport) {
    <mtx-album [album]="album" [cardLayout]="cardLayout" [showRemoveFromPlaylist]="showRemoveFromPlaylist"
        [showUnfavorite]="showUnfavorite" (albumRemoved)="albumRemoved($event)"
        (albumLoaded)="albumLoaded($event)"></mtx-album>
    } @placeholder {
    <div class="album-card"></div>
    }@loading {
    <mtx-loading></mtx-loading>
    }
    }
</div>
}
@case ('horizontal') {
<div class="albums-horizon">
    @if(isLoading()){
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mtx-loading></mtx-loading>
            </div>
        </div>
    </div>
    } @else {
    @for (album of albums; track $index) {
    @defer (on viewport) {
    <mtx-album [album]="album" [cardLayout]="cardLayout" [showRemoveFromPlaylist]="showRemoveFromPlaylist"
        [showUnfavorite]="showUnfavorite" (albumRemoved)="albumRemoved($event)"
        (albumLoaded)="albumLoaded($event)"></mtx-album>
    } @placeholder {
    <div class="album-card"></div>
    } @loading {
    <mtx-loading></mtx-loading>
    }}}
</div>
}
@default {
<div class="albums-list container">
    <div class="row">
        @if(isLoading()){
        <mtx-loading></mtx-loading>
        } @else {
        @for (album of albums; track $index) {
        @defer (on viewport) {
        <div class="col-12 mb-3">
            <mtx-album [album]="album" [cardLayout]="cardLayout" [showRemoveFromPlaylist]="showRemoveFromPlaylist"
                [showUnfavorite]="showUnfavorite" (albumRemoved)="albumRemoved($event)"
                (albumLoaded)="albumLoaded($event)"></mtx-album>
        </div> } @placeholder {
        <div class="album-card"></div>
        } @loading {
        <mtx-loading></mtx-loading>
        }}}
    </div>
</div>
}}

@if(!isLoading() && !hasAlbums){
<div class="container-fluid">
    <div class="alert alert-warning" role="alert">
        {{emptyMessage}}
    </div>
</div>
}