<mtx-tool-pane title="Narration Properties" [icon]="'bi bi-gear'" [closable]="false" [scrollBody]="true">
    <div class="container my-1">
        <form #form="ngForm">
            <div class="d-flex justify-content-between align-items-center">
                <div></div>
                <button class="icon-button" type="submit" title="Save Settings">
                    <i class="bi bi-floppy"></i>
                </button>
            </div>
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" [(ngModel)]="model.title" name="title" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Category</label>
                <input type="text" class="form-control" [(ngModel)]="model.category" name="category" />
            </div>

            <!-- <div class="mb-3">
                <label class="form-label">Tags</label>
                <input type="text" class="form-control" [(ngModel)]="model.tags" name="tags"
                    placeholder="Comma-separated tags" />
            </div> -->

            <div class="mb-3">
                <label class="form-label">Video Template</label>
                <select class="form-select" [(ngModel)]="model.template" name="template">
                    <option value="" disabled selected>Select a video template</option>
                    <option value="default">Default</option>
                    <option value="custom">Custom</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label border-bottom border-primary pb-2">Primary Voice</label>
                <mtx-voice-selector [service]="model.speechPrimary?.speechService"
                    [language]="model.speechPrimary?.language" [voice]="model.speechPrimary?.voice"
                    name="primaryVoice"></mtx-voice-selector>
            </div>

            <div class="mb-3">
                <label class="form-label border-bottom border-secondary pb-2">Secondary Voice</label>
                <mtx-voice-selector [service]="model.speechSecondary?.speechService"
                    [language]="model.speechSecondary?.language" [voice]="model.speechSecondary?.voice"
                    name="secondaryVoice"></mtx-voice-selector>
            </div>
        </form>
    </div>


    @if(selectedBlock){
    <div class="card mb-3 rounded-0 border-start-0 border-end-0 border-bottom-0">
        <div class="card-header d-flex justify-content-between align-items-center rounded-0 border-bottom border-info">
            <strong>Block Settings</strong>
            <button class="icon-button" type="submit" title="Save Settings">
                <i class="bi bi-floppy"></i>
            </button>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Type</label>
                <select class="form-select" [(ngModel)]="selectedBlock.type" name="blockType">
                    @for(type of NarrationBlockTypes; track $index) {
                    <option [value]="type">{{ type }}</option>
                    }
                </select>
            </div>


            <div class="mb-3">
                <mtx-voice-selector></mtx-voice-selector>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Font Family</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedBlock.contentFontFamily"
                        name="fontFamily" />
                </div>
                <div class="col-md-4">
                    <label class="form-label">Size (px)</label>
                    <input type="number" class="form-control" [(ngModel)]="selectedBlock.contentFontSize"
                        name="fontSize" />
                </div>
                <div class="col-md-4">
                    <label class="form-label">Color</label>
                    <input type="color" class="form-control form-control-color" [(ngModel)]="selectedBlock.contentColor"
                        name="fontColor" />
                </div>
            </div>
        </div>
    </div>
    }
</mtx-tool-pane>