<div class="position-relative">
    <img [src]="avatar" alt="{{user?.name}}" class="card-img-top text-center avatar-lg-xl">
    <button class="btn btn- btn-outline position-absolute bottom-0 end-0" data-bs-toggle="modal"
        data-bs-target="#avatarSelectModal" (click)="showAvatarSelector()" title="Select avatar">
        <i class="bi bi-camera"></i>
    </button>
</div>

<div class="modal fade" id="avatarSelectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Choose an Image </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="avatar-grid">
                    @for(item of images;track $index){
                    <img [src]="item.url" alt="Avatar" class="img-thumbnail avatar-img "
                        [ngClass]="{'active': item.selected}" (click)="selectAvatar(item)">
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="saveAvatar()">Save</button>
            </div>
        </div>
    </div>
</div>