<form [formGroup]="dataForm" novalidate (ngSubmit)="onSubmit(dataForm.value)">
    <div class="mb-3">
        <label for="email" class="form-label">{{'Email' | translate}}</label>
        <input type="text" class="form-control" id="email" formControlName="email" autocomplete="current-password">
        @if(check('email', 'required')) {
        <div class="text-danger error">{{'Password is required.' | translate}}</div>
        }
    </div>
    <div class="mb-3">
        <label for="oldPassword" class="form-label">{{'Old Password'| translate}}</label>
        <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword"
            autocomplete="current-password">
        @if(check('oldPassword', 'required')) {
        <div class="text-danger error">{{'Password is required.' | translate}}</div>
        }
    </div>
    <div class="mb-3">
        <label for="newPassword" class="form-label">{{'New Password' | translate}}</label>
        <input type="password" class="form-control" id="newPassword" formControlName="newPassword"
            autocomplete="new-password">

        @if(check('newPassword', 'required')) {
        <div class="text-danger error">{{'New password is required.' | translate}}</div>
        }
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">{{'Confirm Password' | translate}}</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
            autocomplete="new-password">
        @if(check('confirmPassword', 'required')) {
        <div class="text-danger error">{{'Confirm password is required.' | translate}}</div>
        }
    </div>
    <div class=" text-end">
        <button type="submit" class="btn btn-primary" [disabled]="!dataForm.valid">{{'Reset'| translate}}</button>
    </div>
</form>