<div class="d-flex w-100 justify-content-between mb-1">
    <a data-bs-toggle="collapse" href="#{{id}}" role="button" [attr.aria-expanded]="expanded" [attr.aria-controls]="id"
        [attr.disabled]="!isEnable" [ngClass]="{'disabled': !isEnable}">
        <h5 class="mb-1">{{title}}</h5>
    </a>
    <small></small>
</div>
<div class="">
    <small class="fw-lighter">{{subtitle}}</small>
</div>

<div id="{{id}}" class="mt-3" [ngClass]="{'collapse': !expanded, 'show': expanded}">
    <div class="card card-body">
        <ng-content></ng-content>
    </div>
</div>