<div class="timeline-ruler" id="ruler">
    <span>0s</span>
    <span>1s</span>
    <span>2s</span>
    <span>3s</span>
    <span>4s</span>
    <span>5s</span>
    <span>6s</span>
    <span>7s</span>
    <span>8s</span>
    <span>9s</span>
    <span>10s</span>
    <span>11s</span>
    <span>12s</span>
    <span>13s</span>
    <span>14s</span>
    <span>15s</span>
    <span>16s</span>
    <span>17s</span>
    <span>18s</span>
    <span>19s</span>
    <span>20s</span>
    <span>21s</span>
    <span>22s</span>
    <span>23s</span>
    <span>24s</span>
    <span>25s</span>
    <span>26s</span>
    <span>27s</span>
    <span>28s</span>
    <span>29s</span>
    <span>30s</span>
    <span>31s</span>
    <span>32s</span>
</div>