<mtx-admin-container>
    <mtx-header-content header="Edit - {{model?.orderNumber}}" [icon]="icon">

        @if(model){
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="py-3">
            <div class="row border-bottom pb-3 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="text-secondary">Date created: {{model.dateCreated! | date:'yyyy-MM-dd'}}</span>
                    </div>

                    <div>
                        <button type="button" class="btn btn-outline-secondary" (click)="back()">Back</button>
                        <button type="submit" class="btn btn-primary ms-2">Save</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-8">
                    <div class="mb-3 fs-5"><i class="bi bi-cart"></i> Order</div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Order Number</span>
                            <span> {{model.orderNumber}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Status</span>
                            <span> {{model.orderStatus}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Order Type</span>
                            <span> {{model.orderType}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Subtotal</span>
                            <span> {{model.subtotal | currency}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Total</span>
                            @if(canEdit){
                            <input type="number" formControlName="total" class="form-control" />
                            } @else {
                            <span> {{model.total | currency}}</span>
                            }
                        </li>
                    </ul>

                    @if(model.promo){
                    <div class="mb-3 fs-5">Promotion</div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Code</span>
                            <span> {{model.promo.code}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Discount Type</span>
                            <span> {{model.promo.discountType}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Discount</span>
                            <span> {{model.promo.discount}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Date</span>
                            <span>{{model.promo.validFrom}} <i class="bi bi-arrow-right"></i>
                                {{model.promo.validTo}}</span>
                        </li>
                    </ul>
                    }

                    @if(model.paymentInfo){
                    <div class="mb-3 fs-5"><i class="bi bi-credit-card"></i> Payment Info</div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Card Holder</span>
                            <span> {{model.paymentInfo.cardHolderName}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Card Number</span>
                            <span> {{model.paymentInfo.cardNumber}}</span>
                        </li>
                    </ul>
                    }

                    @if(model.billingAddress){
                    <div class="mb-3 fs-5"><i class="bi bi-envelope"></i> Billing Address</div>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Name</span>
                            <span>{{model.billingAddress.firstName}} {{model.billingAddress.lastName}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Address Line1</span>
                            <span>{{model.billingAddress.addressLine1}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Address Line2</span>
                            <span>{{model.billingAddress.addressLine2}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>City</span>
                            <span>{{model.billingAddress.city}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>State</span>
                            <span>{{model.billingAddress.state}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Country</span>
                            <span>{{model.billingAddress.country}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Zip Code</span>
                            <span>{{model.billingAddress.postalCode}}</span>
                        </li>
                    </ul>
                    }
                </div>


                <div class="col col-md-4">
                    @if(user?.imageId){
                    <div class="card mb-3">
                        <img [src]="avatar" class="img-fluid rounded" alt="avatar" />
                    </div>
                    }

                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Name</span>
                            <span> {{user?.name}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Email</span>
                            <span> {{user?.email}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Register at</span>
                            <span>{{user?.dateCreated | date}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>Books</span>
                            <span>{{user?.readBooks}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
        }

    </mtx-header-content>
</mtx-admin-container>