@if(title){
<div class="container-fluid mb-3">
    <h3 class="text-start mt-3">{{title}}</h3>
</div>
}

@switch (layout) {
@case ('grid') {
<div class="albums-grid">
    @for (item of albumCollections; track $index) {
    @defer (on viewport) {
    <mtx-album-collection [albumCollection]="item" [cardLayout]="cardLayout"></mtx-album-collection>
    } @placeholder {
    <div class="album-card"></div>
    }@loading {
    <mtx-loading></mtx-loading>
    }
    }
</div>
}
@case ('horizontal') {
<div class="albums-horizon">
    @if(isLoading()){
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mtx-loading></mtx-loading>
            </div>
        </div>
    </div>
    } @else {
    @for (item of albumCollections; track $index) {
    @defer (on viewport) {
    <mtx-album-collection [albumCollection]="item" [cardLayout]="cardLayout"></mtx-album-collection>
    } @placeholder {
    <div class="album-card"></div>
    } }}
</div>
}
@default {
<div class="albums-list container">
    <div class="row">
        @if(isLoading()){
        <mtx-loading></mtx-loading>
        } @else {
        @for (item of albumCollections; track $index) {
        @defer (on viewport) {
        <div class="col-12 mb-3">
            <mtx-album-collection [albumCollection]="item" [cardLayout]="cardLayout"></mtx-album-collection>
        </div> } @placeholder {
        <div class="album-card"></div>
        } @loading {
        <mtx-loading></mtx-loading>
        }}}
    </div>
</div>
}
}