<div class="login-host">
    <mtx-split-layout extra="login-container">
        <ng-container left>
            <div class="banner">
                <mtx-img-pane imgUrl="/assets/images/library.jpg"></mtx-img-pane>
            </div>
        </ng-container>

        <ng-container right>
            <div class="login-content">
                <section class="border-bottom mb-4">
                    <h5 class="title">{{'Log in' | translate}} </h5>
                    <p class="subtitle">
                        {{'Welcome back' | translate}}
                    </p>
                </section>

                <form [formGroup]="dataForm" novalidate (ngSubmit)="login(dataForm.value)">
                    <div class="mb-3">
                        <label for="email" class="form-label">{{'Email address' | translate}}</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                            <input type="email" class="form-control" id="email" formControlName="email"
                                autocomplete="username" placeholder="your-name@email.com" required>
                        </div>
                        @if(check('email', 'required')) {
                        <div class="text-danger error">{{'Email is required.' |translate}}</div>
                        }
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">{{'Password' | translate}}</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-key"></i></span>
                            <input type="password" class="form-control" id="password" autocomplete="current-password"
                                placeholder="{{'Password' | translate}}" formControlName="password" required>
                        </div>
                        @if(check('password', 'required')){
                        <div class="text-danger error">{{'Password is required.' | translate}}</div>
                        }
                    </div>

                    <div class="d-flex justify-content-between">
                        <p class="m-t-1 text-muted">
                            <a class="text-reset " [routerLink]="['/register']"><strong>{{'Register' |
                                    translate}}</strong></a> {{'as a new user' | translate}}
                        </p>

                        <a class="float-end text-muted" [routerLink]="['/forgot-password']">{{'Forgot password' |
                            translate}}</a>
                    </div>

                    @if(hasOperation){
                    <div class="mb-3 ">
                        <mtx-alert [header]="operation.header!" [body]="operation.body!"
                            [type]="operation.type!"></mtx-alert>
                    </div>
                    }

                    <div class="mt-2 text-end">
                        <button class="btn btn-primary shadow" type="submit" [disabled]="!dataForm.valid">{{'Log in' |
                            translate}}</button>
                    </div>
                </form>
            </div>
        </ng-container>
    </mtx-split-layout>
</div>