@if(isVisible){
<div class="modal-backdrop fade show"></div>

<div class="modal fade" id="globalModal" [class.show]="isVisible" tabindex="-1" aria-labelledby="globalModalLabel"
    data-bs-backdrop="static" aria-hidden="false" role="dialog">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content shadow-lg">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="globalModalLabel">{{modal?.title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-auto">
                        <h3><i class="bi bi-{{modal?.icon}}"></i></h3>
                    </div>
                    <div class="col ">
                        <p class="mt-1">{{modal?.body}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @for (item of modal?.buttons; track item) {
                <button type="button" class="btn btn-{{item.style}}" data-bs-dismiss="modal"
                    (click)="buttonClicked(item)">{{item.label}}</button>
                }
            </div>
        </div>
    </div>
</div>
}