<div class="logging-pane">
  <ul class="list-group list-group-flush">
    @for (item of workItems; track item) {
    <li class="list-group-item">
      <span>
        <i class="bi"
          [ngClass]="{'text-success bi-check-square': item.success, 'text-warning bi-exclamation-square': !item.success}"></i>
      </span>
      <span class="timestamp">[{{item.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}]</span>
      <span class="name">[{{item.name}}]</span>
      <div class="progress" role="progressbar" aria-label="Export Progress" aria-valuenow="0" aria-valuemin="0"
        aria-valuemax="100">
        <div class="progress-bar" [style.width]="calculateProgress(item)"></div>
      </div>
      <span>{{item.description}}</span>
    </li>
    }
  </ul>
</div>