<div>
  <div class="d-flex justify-content-between align-items-center mb-2 border-bottom">
    <label class=""></label>
    <div>
      <button class="btn" title="Add new regex" (click)="toggleEditor()">
        <i class="bi bi-plus-circle"></i>
      </button>

      <button class="btn" title="Toggle edit mode" (click)="toggleEditMode()">
        <i class="bi bi-pen"></i>
      </button>
    </div>
  </div>

  @if (showEditor) {
    <div class="container">
      <div class="row gy-3">
        <div class="col-12">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="model!.name">
        </div>
        <div class="col-12">
          <label for="regex" class="form-label">Regex</label>
          <input type="text" class="form-control" id="regex" placeholder="Regex" [(ngModel)]="model!.regex">
        </div>
        <div class="col-12">
          <label for="replace" class="form-label">Replace</label>
          <input type="text" class="form-control" id="replace" placeholder="Replace with"
            [(ngModel)]="model!.replace">
          </div>
          <div class="col-12">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description"
              [(ngModel)]="model!.description">
            </div>
            <div class="col-12 text-end">
              <button class="btn btn-secondary" title="Save" (click)="save()">
                <i class="bi bi-floppy me-1"></i> Save
              </button>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="list-group list-group-flush ">
      @for (item of models; track item) {
        <div class="list-group-item list-group-item-action ">
          <div class="d-flex justify-content-between align-items-start">
            <span class="me-auto hand text-nowrap overflow-hidden" (click)="execute(item)">
              <i class="bi bi-{{item.icon || icon}} me-2"></i>
              <span class="small ">{{item.name}}</span>
            </span>
            <div class="d-flex">
              <a class="btn btn-sm-xs btn-sm " title="Edit" data-bs-toggle="collapse" href="#{{item.id}}"
                role="button" aria-expanded="false" [attr.aria-controls]="item.id" title="Show more details">
                <i class="bi bi-three-dots"></i>
              </a>
              @if (editMode && item.editable) {
                <button class="btn btn-sm btn-sm-xs" title="Edit" (click)="edit(item)"
                  >
                  <i class="bi bi-pencil"></i>
                </button>
              }
              @if (editMode && item.editable) {
                <button class="btn btn-sm btn-sm-xs" title="Delete" (click)="delete(item)"
                  >
                  <i class="bi bi-trash"></i>
                </button>
              }
            </div>
          </div>
          <div class="collapse" [attr.id]="item.id">
            <div class="card-body">
              <p class="small mb-1 text-body-secondary">Regex: {{item.regex}} </p>
              <p class="small border-bottom mb-1 pb-2 text-body-secondary">Replace: {{item.replace}} </p>
              <p class="text-secondary small mb-1 mt-2">
                {{item.description}}
              </p>
            </div>
          </div>
        </div>
      }
    </div>