<mtx-admin-container>
    <mtx-header-content header="Messages" [icon]="icon">

        <div class="d-flex justify-content-between mt-3 pb-3 border-bottom ">
            <div class="d-flex">
                <div class="input-group">
                    <input class="form-control border-end-0 border" type="search" [(ngModel)]="searchText"
                        (keydown.enter)="search()" placeholder="Find a message">
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-start-0 border rounded-0 rounded-end"
                            type="button" (click)="search()" [disabled]="!canSearch">
                            <i class="bi bi-search"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div>
                @for(action of actions; track action) {
                <button type="button" class="icon-button lg me-2" title="{{action.name}}" (click)="action?.action()">
                    <i class="bi bi-{{action.icon}}"></i>
                </button>
                }

            </div>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (item of items; track item.id) {
                <tr>
                    <td><a [routerLink]="['/control-tower/view/message', item.id]">{{ item.subject }}</a></td>
                    <td>{{ item.dateCreated | date:'shortDate' }}</td>
                    <td>
                        <button class="icon-button" title="Edit"
                            [routerLink]="['/control-tower/view/message', item.id]">
                            <i class="bi bi-eye"></i>
                        </button>
                        <button class="icon-button ms-2" title="Delete"><i class="bi bi-trash"></i></button>
                    </td>
                </tr>
                }
            </tbody>
        </table>

        <div class="d-flex justify-content-between">
            <div></div>
            <mtx-admin-pager [canGoPrev]="canGoPrev" (next)="nextPage()" (prev)="prevPage()"></mtx-admin-pager>
        </div>
    </mtx-header-content>
</mtx-admin-container>