<mtx-admin-container>
    <mtx-header-content header="Edit {{model?.name}}" [icon]="icon">
        @if(model){
        <form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="py-3">
            <div class="row border-bottom pb-3 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <span class="text-secondary">Date created: {{model.dateCreated! | date:'yyyy-MM-dd'}}</span>
                    </div>

                    <div>
                        <button type="button" class="btn btn-outline-secondary" (click)="back()">Back</button>
                        <button type="submit" class="btn btn-primary ms-2">Save</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-8">

                    <div class="row">
                        <div class="form-group mb-3 col col-md-6">
                            <label for="name" class="form-label">Name</label>
                            <input id="name" type="text" formControlName="name" class="form-control" />
                        </div>

                        <div class="form-group mb-3 col col-md-6">
                            <label for="alias" class="form-label">Alias</label>
                            <input id="alias" type="text" formControlName="alias" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" formControlName="description" class="form-control"
                            rows="8"></textarea>
                    </div>

                    <div class="mb-2 fs-5"><i class="bi bi-book"></i> Albums</div>
                    <ul class="list-group mb-3">
                        @for (item of model.albums; track $index) {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <a [routerLink]="['/control-tower/edit/album', item.id]">
                                    <i class="bi bi-book me-1"></i> {{item.title}}
                                </a>
                            </div>

                            <div>

                            </div>
                        </li>
                        }
                    </ul>
                </div>

                <div class="col col-md-4">
                    <label for="image" class="form-label">Avatar</label>

                    @if(model.image){
                    <div class="card mb-1">
                        <img [src]="model.image | image" class="img-fluid rounded" alt="avatar" />
                    </div>

                    <div class="text-end">
                        <button type="button" class="icon-button me-2" (click)="removeAvatar()" title="Remove splash">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                    }
                </div>
            </div>
        </form>
        }
    </mtx-header-content>
</mtx-admin-container>